<!-- view\templates\newbloghome.ejs -->
<html>

<%- include ('../templates/header', {show_alert: false}) -%>
<%- include ('../templates/nav') -%>

<br>
<br>

<body class = "text-center bg-light">
	<%- include('../templates/blogset/blogset', {blogs: blogs}); %>
</body>


<br>
<br>
<%- include ('../templates/footer') -%>
</body>
</html>