<html>

<%- include ('../templates/heading/htmlhead') -%>
<%- include ('../templates/heading/alertmanager') -%>
<%- include ('../templates/heading/standard_header') -%>

<body>

<div class ="text-center card" style = "border: 0px;">
  <div class = "card-body">
    <div class = "display-1 text-200 fs-error">
      404
    </div>
    <p class = "lead mt-4 text-800 text-sans-serif font-weight-semi-bold"> The page you are looing for is not found. </p>
    <p> Make sure the address above is correct. If you think this is a mistake, <a class="ml-1" href="">contact us</a>.
    </p>

    <a class = "btn btn-primary btn-sm mt-3" href="/">Back to Home </a>
  </div>
  </div>

</body>
</html>