<html>

<%- include ('../templates/heading/htmlhead') -%>
<%- include ('../templates/heading/alertmanager') -%>
<%- include ('../templates/heading/standard_header') -%>
<%- include ('../templates/nav') -%>

  <br> <br>
  
<body class = "text-center bg-light">
  <div class = "col">
  <div class = "card" style="width:500px;">
    <div class = "bg-light border-bottom-1 card-header" style="padding: 1rem 1rem">
    <h5> Create a ticket below </h5>
  </div>
    <br>
    <form>
      <br>
        <div class="form-group col-auto">
          <input type = "text" class="form-control-sm" id="user-fname" placeholder="First name">
        </div>
        <div class="form-group col-auto">
          <input type = "text"  class="form-control-sm" id="user-lname" placeholder="Last name">
        </div>
       <div class="form-group col-auto">
        <input type = "text" class="form-control-sm" id="user-uname" placeholder="HPCL Username">
        </div>
      <div class="form-group col-auto">
        <input type = "text" class="form-control-sm" id="user-suemail" placeholder="SU Email">
      </div>
      <div class="form-group">
        <label for="ticket-info">Fill out your issue here</label>
        <textarea class="form-control-sm" id="ticket-info"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
 </div>
</div>
<br>
<br>
<br>
    
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type = "text/javascript">

  $('#createticket').click(function(){

      $.ajax({
        url: '/api/ticket',
        type: 'POST',
        datatype: 'json',
        data: {
          first_name: $('#user-fname').val(),
          last_name: $('#user-lname').val(),
          HPCL_user: $('#user-suemail').val(),
          email: $('#user-suemail').val(),
          body: $('#ticket-info').val(),
        },
        success: function(data){
          displayError(data.error, 'test');
        }
      });

    });


</script>