<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

      h1 {
        text-align: center;
      }

    </style>

  </head>

  <body>

    <h1><%= test %></h1>

    <div class="container">

    <h2>Create User</h2>
    <form>
      <div class="row">
        <div class="col">
          <input id="create_email" class="form-control" type="text" placeholder="Enter the Email"></input>
        </div>
        <div class="col">
          <input id="create_cn" class="form-control" type="text" placeholder="Enter the Common Name"></input>
        </div>
      </div>
      <span style="display:block; height: 20px;"></span>
    </form>

    <button id="createuser" class="btn btn-primary" type="button">Create User</button>

    <hr>
    <span style="display:block; height: 20px;"></span>

    <div id="test"></div>

    <h2>Modify User</h2>
    <form>
      <div class="row">
        <div class="col">
          <input id="modify_email" type="text" class="form-control" placeholder="Enter the Email"></input>
        </div>
        <div class="col">
          <input id="modify_cn" type="text" class="form-control" placeholder="Enter the Common Name"></input>
        </div>
      </div>
      <span style="display:block; height: 10px;"></span>
      <div class="row">
        <div class="col">
          <input id="modify_homedir" type="text" class="form-control" placeholder="Enter the Home Directory"></input>
        </div>
        <div class="col">
          <input id="modify_gidnumb" type="text" class="form-control" placeholder="Enter the Group ID Number"></input>
        </div>
      </div>
      <span style="display:block; height: 10px;"></span>
      <div class="row">
        <div class="col">
          <input id="modify_uid" type="text" class="form-control" placeholder="Enter the User ID"></input>
        </div>
        <div class="col">
          <input id="modify_cn" type="text" class="form-control" placeholder="Enter the Common Name"></input>
        </div>
      </div>
      <span style="display:block; height: 20px;"></span>
    </form>
    <!--<p style="text-align: center; margin: 0 auto">-->
    <button id="modifyuser" style="text-align: center;" class="btn btn-primary" type="button">Modify User</button>

    <hr>
    <span style="display:block; height: 20px;"></span>

    <h2>Delete User</h2>
    <form>
      <div class="row">
        <div class="col">
          <input id="delete_email" class="form-control" type="text" placeholder="Enter the Email"></input>
        </div>
        <div class="col"></div>
      </div>
    </form>

    <span style="display:block; height: 20px;"></span>
    <button id="deleteuser" class="btn btn-primary" type="button">Delete User</button>

  </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">

    $('#createuser').click(function(){

      $.ajax({
        url: '/api/user/create',
        type: 'POST',
        datatype: 'json',
        data: {
          email: $('#create_email').val(),
          cn: $('#create_cn').val(),
        },
        success: function(data){
          if(data.error)
          {
            displayError(data.error, 'test');
          }
          else
          {
            var usr = 
            "cn: " + data.success.cn.value +
            "<br/>" +
            "dn: " + 
            data.success.dn.bag.map((res)=>{return res.key+"="+res.value}).join(',') +
            "<br/>" +
            "gidNumber: " + data.success.gidNumber.value +
            "<br/>" +
            "hd: " + data.success.homeDirectory.value +
            "<br/>" +
            "uid: " + data.success.uid.value +
            "<br/>" +
            "uidNumber: " + data.success.uidNumber.value +
            "<br/>" +
            "sn: " + data.success.sn.value +
            "<br/>" +
            "userPassword: " + data.success.userPassword.value;
            displaySuccess('User added <br/> ' + usr, "test");
            console.log(data)
          }
        }
      });

    });

    $('#modifyuser').click(function(){

      $.ajax({
        url: '/api/user/modify',
        type: 'POST',
        datatype: 'json',
        data: {
          email: $('#modify_email').val(),
          cn: $('#modify_cn').val(),
        },
        success: function(data){
          
        }
      });

    });

    /*$('#deleteuser').click(function(){

      $.ajax({
        url: '/api/user/delete',
        type: 'POST',
        datatype: 'json',
        data: {
          email: $('#modify_email').val()
        },
        success: function(data){
          alert(data);
        }
      });

    });*/

    function displayError(msg, div){
      var errorbox = `<div class="alert alert-danger" role="alert">` + msg + `</div>`
      $("#" + div).append(errorbox);
      
    }
    function displaySuccess(msg, div){
      var successbox = `<div class="alert alert-success" role="alert">` + msg + `</div>`
      $("#" + div).append(successbox);
    }

  </script>


</html>
