<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter login token</h5>
                <button type="button" class="close" aria-label="Close" data-function="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-function="close">Close</button>
                <button type="button" class="btn btn-primary" data-function="submit">Submit</button>
            </div>
            <div id="error"> </div>
        </div>
    </div>
</div>