<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    h1 {
      text-align: center;
    }

    body {
      background-image: url("/home/user/cosc425/LDAP/app/views/pages/henson.jpg");
    }
  </style>

</head>

<body>

  <h1>UMS Password Reset</h1>

  <div class="container">

    <h2>Reset Password</h2>
    <form>
      <div class="row">
        <div class="col-md-5">
          <label for="check_email">Enter the Email:</label></label>
          <input id="check_email" class="form-control" type="text" placeholder="Enter the Email"></input>
        </div>
      </div>
      <span style="display:block; height: 20px;"></span>
    </form>
    <div id="Error"></div>
    <button id="emailtoken" class="btn btn-primary" type="button" data-toggle="modal">Email Me The Token!</button>
    <hr>
    <span style="display:block; height: 20px;"></span>

    <div id='modalWrapper'><%- include('modal', {id: 'exampleModal'}) %></div>

</body>
<div id="test"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript"></script>

<script>
  function listCookies() {
    var theCookies = document.cookie.split(';');
    var aString = '';
    for (var i = 1; i <= theCookies.length; i++) {
      aString += i + ' ' + theCookies[i - 1] + "\n";
    }
    return aString;
  }
</script>
<script>$('#emailtoken').click(function () {
    $.ajax({
      url: '/api/user/resetPW',
      type: 'POST',
      datatype: 'json',
      data: {
        email: $('#check_email').val()
      },
      success: function (data) {
        if (!(data.error === null || data.error === undefined)) {
          displayError(data.error, 'Error');
          $("#exampleModal").modal('hide');
        } else {
          $("#exampleModal").modal('show');
          var content = `<%- include('tokenInput', {}) %>`
          jQuery('#exampleModal .modal-body').html(content);
          jQuery('#exampleModal').attr('data-state', 'token');
          jQuery('#exampleModal').attr('data-token', '');
          jQuery('#exampleModal button[data-function="submit"]').click(function () {
            var state = jQuery('#exampleModal').attr('data-state');

            if (state === 'token') {
              jQuery('#exampleModal').attr('data-state', 'reset');
              var tokenInput = jQuery('#exampleModal input').val();
              jQuery('#exampleModal').attr('data-token', tokenInput);

              console.log(tokenInput);
              $.ajax({
                url: '/api/user/verifyPWToken',
                type: 'POST',
                datatype: 'json',
                data: {
                  token: tokenInput,
                  state: 'token',
                  email: data.email
                },
                success: function (data) {
                  if (data.error) {
                    displayError(data.error, 'error');
                    jQuery('#exampleModal').attr('data-state', 'token');
                  } else {
                    var passwordContent = `<%- include('passwordInput', {}) %>`;
                    jQuery('#exampleModal .modal-body').html(passwordContent);
                    jQuery('#exampleModal .modal-title').text('Enter the password');
                    jQuery('#error').html('');
                  }
                }
              })


            } else if (state === 'reset') {
              $.ajax({
                url: '/api/user/changePW',
                type: 'POST',
                datatype: 'json',
                data: {
                  token: jQuery('#exampleModal').attr('data-token'),
                  state: 'reset',
                  password: jQuery('#new-pass').val()
                },
                success: function (data) {
                  if (data.error) {
                    displayError(data.error, 'error');
                  } else {
                    jQuery('#exampleModal').attr('data-state', '');
                    closeModal();
                    displaySuccess("Password successfully changed", 'Error');
                    
                  }
                }
              })
            }
          })
          jQuery('#exampleModal button[data-function="close"]').click(closeModal);

        }
      }
    });

  });

  function closeModal() {
    jQuery('#exampleModal').attr('data-state', '');
    jQuery('#exampleModal .modal-body').html('');
    jQuery('#exampleModal .modal-title').text('Enter login token');
    jQuery('#error').html('');
    $("#exampleModal").modal('hide');
  }
  function displayError(msg, div) {
    var errorbox = `<div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>` + msg + `</div>`
    $("#" + div).html(errorbox);
  }
  function displaySuccess(msg, div) {
    var successbox = `<div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>` + msg + `</div>`
    $("#" + div).append(successbox);
  } 
</script>

</html>