<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
  </head>
<body class = "text-center">
  <br> <br>
<h3> High Performance Computing Lab </h3>
<br>

<h5> Create a ticket below </h5>
<br>
<form>
  <div class = "form-row align-items-center">
    <div class="form-group col-auto">
      <input type = "text" class="form-control-sm" id="user-fname" placeholder="First name">
    </div>
    <div class="form-group col-auto">
      <input type = "text"  class="form-control-sm" id="user-lname" placeholder="Last name">
    </div>
   <div class="form-group col-auto">
    <input type = "text" class="form-control-sm" id="user-uname" placeholder="HPCL Username">
    </div>
  <div class="form-group col-auto">
    <input type = "text" class="form-control-sm" id="user-suid" placeholder="SU ID Number">
  </div>
  <div class="form-group">
    <label for="ticket-info">Fill out your issue here</label>
    <textarea class="form-control-sm" id="ticket-info"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
 

    
</body>
</html>
