<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
  </head>
  <style>
  #html, body{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  </style>
<body>

<form>
  <label for="fname">First name: </label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name: </label><br>
  <input type="text" id="lname" name="lname">
  <label for="tinfo">Ticket Description: </label><br>
  <input type="text" id="info" name="tinfo">
</form> 
 

    
</body>
</html>
