<!DOCTYPE html>
<html>

<% include(../templates/head); %>
<% include(../templates/adminnav); %>

<br>
<br>

<body>

 <div class = "container">
  <div class = "content">
    
    <div class = "mb-3 card">
      <div class = "card-header">
        <div class = "row"> 
          <div class = "col">
            <h5 class = "mb-2">
              //Client name here
              <a href =""> //Email here</a>
            </h5>
            <button class = "btn btn-sm">
              //Add note to ticket
            </button>
          </div>
        </div>
      </div>
      <div class = "border-top card-body">
        <div class = "media-body">
          <p class = "text-300">//customer history, 
          // ticket #, time ticket uploaded, time ticket finished
        </p>
        </div>
      </div>
    </div>

    <div class = "mb-3 card">
      <div class = "bg-light card-header">
        <div class = "align-items-center row">
          <div class = "col">
            <h5 class = "mb-0">
              Details
            </h5>
          </div>
          <div class = "text-right col-auto">
            <a class ="btn btn-sm"> Customer details</a>
          </div>
        </div>
      </div>
      <div class = "row"> 
        <div class = "col-xxl-5 col-lg">
          <br>
          <h5 class = "font-weight-semi-bold ls mb-3" style=""> 
            Account Information
          </h6>
          <div class = "col-5 col-sm-4">
            <p class = "font-weight-semi-bold mb-1"> SU ID </p>
          </div>
          <div class = "col-5 col-sm-4">
            <p class = "font-weight-semi-bold mb-1"> More info </p>
          </div>
           <div class = "col-5 col-sm-4">
            <p class = "font-weight-semi-bold mb-1"> More info </p>
          </div>
        </div>
      </div>
      <div class = "bg-light border-top card-footer">
        <a class = "ml-2 btn btn-sm"> Save Changes </a>
      </div>
    </div>

    <div class = "card">
      <div class = "bg-light card-header">
         <h5 class = "mb-0">
          Ticket information (\/ Below should auto fill)
         </h5>
         <div class = "border-top p-0 card-body">
          <div class="align-items-center border-bottom ppy-2 px-3 no-gutters row">
            <div class = "pr-3 col-md-auto">
              <span class = "badge badge-soft-success-badge-pill">//update value ex) 404
              </span>
            </div>
            <div class = "mt-1 mt-md-0 col-md">
              <code>
                Ticket value
              </code>
            </div>
            <div class = "col-md-auto">
              <p class = "mb-0">
                time stamp
              </p>
            </div>
          </div>
         </div>
          <div class="align-items-center border-bottom ppy-2 px-3 no-gutters row">
            <div class = "pr-3 col-md-auto">
              <span class = "badge badge-soft-success-badge-pill">//update value ex) 404
              </span>
            </div>
            <div class = "mt-1 mt-md-0 col-md">
              <code>
                Ticket value
              </code>
            </div>
            <div class = "col-md-auto">
              <p class = "mb-0">
                time stamp
              </p>
            </div>
          </div>
           <div class="align-items-center border-bottom ppy-2 px-3 no-gutters row">
            <div class = "pr-3 col-md-auto">
              <span class = "badge">//update value ex) 404
              </span>
            </div>
            <div class = "mt-1 mt-md-0 col-md">
              <code>
                Ticket value
              </code>
            </div>
            <div class = "col-md-auto">
              <p class = "mb-0">
                time stamp
              </p>
            </div>
          </div>

          <div class = "bg-light py-2 card-footer">
            <a class = "btn btn-link btn-block" href=""> View more logs
            </a>
          </div>
      </div>
    </div>

</div>
</div>

    
<br>
<br>

<% include(../templates/footer); %>
</body>
</html>
