<!-- views/templates/footer.ejs --> 
<footer>
  <div class = "justify-content-between text-center fs--1 mt-4 mb-3 no-gutters row">
   <p class="text-center text-muted">© Copyright 2020</p>
  </div>
</footer>