
<!-- views/templates/nav.ejs --> 

<ul class = "nav justify-content-center">
  <li class = "nav-item"><a class="nav-link active" href="/">Home</a></li>
  <li class = "nav-item"><a class="nav-link active" href="/ticket/create">Create a ticket</a></li>
  <li class = "nav-item"><a class="nav-link active" href="/blog">Blog</a></li>
  <li class = "nav-item"><a class="nav-link active" href="#contact">Contact</a></li>
</ul>
<br>