<div class="jumbotron" style="height: 300px; padding: 6rem 4rem">
	<% if(user.authed) { %>
		<%- include('account_buttons/account') %>
	<% } else {%>
		<%- include('account_buttons/auth') %>
	<% } %>
		<div class="container">
			<h3 style= "font-family: 'Montserrat', sans-serif;">High Performance Computing Lab</h3>
		</div>
</div>
