<div class = "row">
	<div class = "col-2">
		<img src="https://www.salisbury.edu/_images/headshots/su-seal.jpg" class="rounded" style="width: 175; height: auto;">
	</div>
	<div class = "col-10">
		<div class = "card" style="text-align:left">
			<div class = "card-header">
			</div>
			<div class = "card-body">
				<h4 class="card-title">
					<%= blog.title %>
				</h4>
				<% if (blog.body.length > 384) { %>
					<%= blog.body.substring(0, 384) + "..." %>
				<% } else { %>
					<%= blog.body %>
				<% } %>
			<a href="/blog/<%= blog.id %>" class="stretched-link"></a>
			</div>
		</div>
	</div>
</div>
<br>
