<nav class="navbar navbar-expand-md navbar-light bg-light">
     <a class="navbar-brand" href="/">
      <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fred-bird-silhouette%2Fred-bird-silhouette-19.png&f=1&nofb=1" width="30" height="30" class="d-inline-block align-top" alt="">
      HPCL
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/home">Admin Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage/user">User Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blog</a>
      </li>
    </ul>
  </div>
</nav>
