<div class = "row">
	<div class = "col-2">
		<img src="https://www.beautycolorcode.com/788878.png" class="rounded" style ="width: 175; height: auto;">
	</div>
	<div class = "col-10">
		<div class = "card">
			<div class = "card-header">
				<%= user.firstName %> <%= user.lastName %>
			</div>
			<div class = "card-body">
				<h3> Email: </h3> <%= user.email %>
			</div>
		</div>
	</div>
</div>
