<!-- views/templates/footer.ejs --> 
<footer>
<br>
<br>
   <p class="text-muted" style="text-align: center;"">High Performance Computing Lab, Henson Science and Technology © Copyright 2020</p>
</footer>