<div class = "row">
	<div class = "col-sm">
		<img src="https://www.beautycolorcode.com/788878.png" class="rounded" style ="width: 175; height: auto;">
	</div>
	<div class = "col">
		<div class = "card">
			<div class = "card-header">
				<%= user.firstName + " " + user.lastName %>
			</div>
			<div class = "card-body">
				<%= user.email %>
			</div>
		</div>
	</div>
</div>
