<div class = "row">
	<div class = "col-2">
		<img src="https://www.salisbury.edu/_images/headshots/su-seal.jpg" class = "rounded" style = "width: 175; height: auto;"> 
	</div>
	<div class = "col-10">
		<div class = "card">
			<div class = "card-header">
				<%= blog.title %>
			</div>
			<div class = "card-body">
				<% if (blog.body.length > 384) { %>
					<%= blog.body.substring(0, 384) + "..." %>
				<% } else { %>
					<%= blog.body %>
				<% } %>
			</div>
		</div>
	</div>
</div>
<br>