<div class = "card">
  <div class = "p-0 border-1 card-body">
      <div class="card-body">
      <div class = "row">      
        <div class = "col-sm">
          <%= users[ticket.creator].firstName + " " + users[ticket.creator].lastName %>
        </div>
          <div class = "col-sm">
            <%= ticket.status %>
          </div>
      </div>
        <div class = "row">
          <strong><%= ticket.title %></strong>
        </div>
        <div class = "row">
          <p class="card-text">
            <%= ticket.body %>
          </p>
        </div>
      </div>
  </div>
</div>