<div class="float-right">
	<div class="container">
		<a href="/profile" class="btn btn-outline-primary btn-sm mr-1"> Profile </a>
		<a href="/signout" class="btn btn-outline-primary btn-sm ml-1"> Sign Out </a>
	</div>
</div>
