<div class="float-right">
	<div class="container">
		<a href="/signin" class="btn btn-outline-primary btn-sm mr-1"> Sign In </a>
		<a href="/register" class="btn btn-outline-primary btn-sm ml-1"> Register </a>
	</div>
</div>
