<div class="float-right">
	<div class="container">
		<a href="login" class=btn btn-outline-primary btn-sm> Login </button>
		<a href="register" class=btn btn-outline-primary btn-sm> Register </button>
	</div>
</div>